* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.flex-center {
  width: 60vh;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
